@media only screen and (min-width: 600px) { /* Piano is displayed */
    #errorContainer {
        display: none;
    }
    #piano {
        background-color: #301c82;
        padding: 20px;
    }
    #pianoContainer {
        width: 80%;
        margin: auto;
    }
    #pianoHeader {
        background-color: #008000;
        margin-bottom: 20px;
    }

    /*  Piano Keys */

    #pianoKeys {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }

    
    .white-key {
        color: black;
        width: 50%;
        height: 150px;
        background-color: white;
        border: 1px grey solid;
    }

    /* Black Keys */
    .black-key{
        top: 0;
        width: 1.4rem;
        height: 75px;
        position: absolute;
        color: white;
        background-color: black;
    }
    #C {
        left: 8.5%
    }

    
}

@media only screen and (max-width: 600px) { /* Error message is displayed */
    #piano { 
        display: none;
    }
    #errorContainer {
        text-align: center;
    }
}
