#errorContainer {
    display: none;
}
#piano {
    display: block;
    background-color: #301c82;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
}
#pianoContainer {
    width: 80%;
    margin: auto;
}
#pianoHeader {
    font-weight: 540;
    display: flex;
    background-color: #008000;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
#recordContainer {
    grid-column: 3;
    display: flex;
    text-align: right;
    flex-flow: row;

}
#tuneContainer {
    display: flex;
    flex-flow: row;
}
#tuneContainer #songSelector {
    height: 20px;
    margin: auto 5px;
}
label[for=songSelector] {
    margin: auto 3px;
}
#playImage {
    background-color: white;
    color: black;
    height: 17px;
    width: 17px;
    padding: 7px;
    border-radius: 2px;
    border: 1px solid lightgrey;
}


#recordImage {
    background-color: white;
    margin: auto 5px;
    color: black;
    height: 17px;
    width: 17px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid lightgrey;                                                        
}

#stopImage {
    background-color: white;
    margin: auto 4px;
    color: red;
    opacity: 50%;
    height: 17px;
    width: 17px;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid lightgrey;
}

/*  Piano Keys */
.pianoKey {
    font-family: Arial;
}
.pianoKey p {
    margin: 0;
}

#pianoKeysContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: black; */
}


.white-key {
    color: black;
    width: 50%;
    height: 13rem;
    background-color: white;
    border: 1px black solid;
    box-shadow: 1px 1px grey;
}

.white-key:active {
    background-color: grey;
}

/* Black Keys */
.black-key {
    top: 0;
    width: 6%;
    max-width: 40px;
    height: 65%;
    position: absolute;
    color: white;
    background-color: black;
    border: 1px solid grey;
    box-shadow: 1px 1px grey inset;

}
.black-key:active {
    background-color: grey;
}
#C {
    left: 7.4%
}
#DX4 {
    left: 17.3%
}
#FX4 {
    left: 37.2%
}
#GX4 {
    left: 47.2%
}
#Bb4 {
    left: 57%
}
#CX5 {
    left: 77.4%;
}
#DX5 {
    left: 87.4%;
}


@media only screen and (max-width: 599px) { /* Error message is displayed */
    #piano { 
        display: none;
    }
    #errorContainer {
        text-align: center;
        display: block;
    }
}

@media print {
    #piano {
        background: none;
    }
    #pianoHeader {
        background: none;
    }
    #playImage, #recordImage {
        background-color: #eeeeee;
        border: 1px solid black;
    }
    #stopImage {
        opacity: 70;
        background-color: #eeeeee;
        border: 1px solid lightgrey;
    }
}